body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.hide-on-med-and-down a {
  font-size: 1.5em;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
  position: relative;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.movie {
  position: relative;
}

.card .card-image {
  max-height: 70%;
  height: 100%;
}

.card .card-content {
  max-height: 30%;
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-content .card-title {
  font-size: 1.2em;
  line-height: 22px;
}

.card-content p {
  font-size: 0.9em;
}

.preloader {
  position: absolute;
  top: 40%;
  left: 45%;
}

.search-form {
  margin-bottom: 0;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 1rem
}

.filter-form {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 20px 1rem;
}
